@font-face {
    font-family: 'Ransom';
    src: url('Ransom.woff2') format('woff2'),
        url('Ransom.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

